header {
	color: #9966CC;
	font-family: Helvetica, sans-serif;
	font-style: bold;
	background-color: #6699FF;
}
body {
	width: 760 px;
	color: #9966CC;
	font-size: 20px;
	font-family: Verdana, serif;
	background-color: #6699FF;
}
p.greeting {
	color: #990000;
	font-size: 40px;
}
div#main{
	background-color: #6699FF;
	margin: 0;
	padding: 12px;
}